article
  width 60%
  padding-left 5%
  padding-top 25px
.listItem
  border-style: solid;
  border-width: 30px 60px 30px 60px;
  -moz-border-image: url(/img/item_bg.png) 30 60 30 60 stretch;
  -webkit-border-image: url(/img/item_bg.png) 30 60 30 60 stretch;
  -o-border-image: url(/img/item_bg.png) 30 60 30 60 stretch;
  border-image: url(/img/item_bg.png) 30 60 30 60 fill stretch;

.itemImg
  background-image: url(/img/dishes.png);
  width: 124px;
  height: 125px;
  display: inline-block;
  background-size: 802.5px 1689px;

position_left(num)
  if (num%6==0)
    0
  else
    -135*(num%6)px
for x in 0 ... 70
  .item-{x+1}
    background-position: position_left(x) (floor(x/6)*-140)px

.listItem
  display flex
  color: #573c1d;
  font-weight: bold;
  line-height: 1.5625rem
.itemInfo
  width 50%
  position relative
  padding-right: 40px
  &::after
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    width: 5px;
    height: 100%;
    background-image: url(/img/hr.png);
    background-size: contain;
    background-repeat: no-repeat;
.itemDetail
  width 50%